.gradle/8.8/fileHashes/fileHashes.bin
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
